.navbar{
    width: 95%;
    margin: 0.5rem;
    border-radius: 10px;
    justify-self: center;
}
.capa{
    background: url(imagens/Black\ and\ white\ photo\ of\ muscular\ build\ man\ using\ sports\ chalk\ while\ before\ lifting\ a\ barbell\ on\ weight\ training\ in\ a\ gym.png)no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
    .conteudoCapa{
        margin-top: 7rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
    }
    .tituloCapa{
        letter-spacing: 8px;
    }
     .button{
        align-self: center;
        color: #c2e71f !important;
        padding: 1rem;
        cursor: pointer;
    }
    button span{
        color: white;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serviços{
        background: url(imagens/academiaGrupo.png)no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-attachment: fixed;
    }
    .card {
    background-color: #0000008f!important;
    }
    .card-body{
    color: aliceblue!important;
    }
    .card-body ul{
        --bs-list-group-bg: none;
        --bs-list-group-color: none;
        --bs-list-group-border-color: none;
    }
    .pai{
        display: flex !important;
        color: aliceblue;
         justify-content: space-around;
        align-items: center;
    }
    .rodape{
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 10vh;
    }
    .policty{
        display: flex;
    }
    .policty p{
        margin: 0;
    }
    footer{
        height: 30vh;
        background-color: black;
        color: aliceblue;
    }
    .caixa{
        height: 25vh;
    }
    .policty{
        list-style-type: none;
    }
    .policty ul{
        margin: 0;
        list-style-type: none;
    }
    @media (max-width: 575.98px) {
        .serviços, footer, .caixa{
            height: auto;
        }
        .col {
            margin-bottom: 1rem;
        }
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .serviços, footer, .caixa{
            height: auto;
        }
        .col {
            margin-bottom: 1rem;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .serviços, footer, .caixa{
            height: auto;
        }
        .col {
            margin-bottom: 1rem;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px){
        .serviços, footer, .caixa{
            height: auto;
        }
        .col {
            margin-bottom: 1rem;
        }
    }
    
    @media (min-width: 1200px) {
    
    }