
footer{
    height: 30vh;
    background-color: black;
    color: aliceblue;
}
.caixa{
    height: 25vh;
}
.policty{
    list-style-type: none;
}
.policty ul{
    margin: 0;
    list-style-type: none;
}
@media (max-width: 575.98px) {
    .serviços{
height: auto;
    }
    .col {
        margin-bottom: 1rem;
    }
    footer{
        height: auto;
    }
    .caixa{
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .serviços{
        height: auto;
    }
    .col {
        margin-bottom: 1rem;
    }
    footer{
        height: auto;
    }
    .caixa{
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .serviços{
        height: auto;
    }
    .col {
        margin-bottom: 1rem;
    }
    footer{
        height: auto;
    }
    .caixa{
        height: auto;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .serviços{
        height: auto;
    }
    .col {
        margin-bottom: 1rem;
    }
    footer{
        height: auto;
    }
    .caixa{
        height: auto;
    }
}

@media (min-width: 1200px) {

}
